.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.fpItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fpImage {
  width: 100%;
}
.fpName {
  font-weight: bold;
}
.fpCity {
  font-weight: 300;
}
.fpPrice {
  font-weight: 600;
}
.fpRating > button {
  color: #ffffff;
  background-color: #003580;
  border: none;
  margin-right: 10px;
  padding: 3px;
  font-weight: bold;
}
.fpRating > span {
  font-size: 14px;
}
